<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title of userpage</title>
</head>
<body>

<form th:action="@{/appLogout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
</style>

<div class="container">
    <h1>Hello, I'm your UserPage</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
        </tr>
    </table>
    <script>
        // Check if the referrer URL contains "/adminpage"
        if (document.referrer.includes("/admin")) {
            // Create a button element
            var backButton = document.createElement("button");
            backButton.innerHTML = "Go back to AdminPage";
            backButton.onclick = function() {
                window.location.href = "/admin";
            };

            // Append the button to the container div
            document.querySelector(".container").appendChild(backButton);
        }
    </script>
</div>

</body>
</html>